[user]
    email = my@email.com
    name = Denis
[push]
    default = simple
[alias]
    cdiff = diff --color-words --word-diff-regex='.'
    wdiff = diff --color-words --word-diff-regex='.|\\w+'
    root = !pwd
